<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        th:fragment="student_table"
>
<table rules="all" frame="border">
    <thead>
    <tr>
        <th th:text="#{student_index_text}" width="200px">Index</th>
        <th th:text="#{student_id_text}" width="200px">ID</th>
        <th th:text="#{student_name_text}" width="200px">Name</th>
        <th th:text="#{student_gender_text}" width="200px">Gender</th>
        <th th:text="#{student_birth_text}" width="200px">Date of Birth</th>
        <th th:text="#{student_native_text}" width="200px">Native Place</th>
        <th th:text="#{student_department_text}" width="200px">Department</th>
        <th th:text="#{operation_text}" width="200px">Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student, idx : ${students}">
        <td th:text="${idx.index+1}" align="center"/>
        <td th:text="${student.getID()}" align="center"/>
        <td th:text="${student.getName()}" align="center"/>
        <td th:if="${student.isMaleGender()}" th:text="#{student_gender_male}" align="center"/>
        <td th:if="${student.isFemaleGender()}" th:text="#{student_gender_female}" align="center"/>
        <td th:if="${student.isOtherGender()}" th:text="#{student_gender_other}" align="center"/>
        <td th:text="${student.getBirthDate()}" align="center"/>
        <td th:text="${student.getNativePlace()}" align="center"/>
        <td th:text="${student.getDepartment()}" align="center"/>
        <td align="center">
            <a th:text="#{del_text}" href="/del_student" th:href="@{/del_student(realID=${student.getRealId()})}"/>
            &nbsp;
            <a th:text="#{edit_text}" href="/edit_student" th:href="@{/edit_student(realID=${student.getRealId()})}"/>
        </td>
    </tr>
    </tbody>
</table>
</html>
