<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{fragments/layout :: layout (~{::body})}"
>
<body>
    <a th:href="@{/}">回到首页</a>
    <hr/>
    <h2>添加学生</h2>
    <form id="the_form" @submit.prevent="submit">
        <table>
            <tr>
                <th>姓名：</th>
                <td width="200px">
                    <input v-model="name" type="text" name="name"/>
                </td>
                <th>联系电话：</th>
                <td width="200px">
                    <label>
                        <input v-model="phone" type="text" name="phone"/>
                    </label>
                </td>
            </tr>
            <tr>
                <th>院系：</th>
                <td width="200px">
                    <label>
                        <input v-model="department" type="text" name="department"/>
                    </label>
                </td>
                <th>学号：</th>
                <td width="200px">
                    <label>
                        <input v-model="studentId" type="text" name="student_id"/>
                    </label>
                </td>
            </tr>
        </table>
        <input type="submit" value="提交">
    </form>
    <script type="text/javascript">
        var theForm = new Vue({
            el: '#the_form',
            data: {
                name: null,
                phone: null,
                department: null,
                studentId: null
            },
            methods: {
                submit: function () {
                    missing = []
                    var name, phone, studentId, department;
                    if (this.name == null || !this.name.trim()) {
                        missing.push('姓名');
                    }
                    else {
                        name = this.name.trim();
                    }
                    if (this.phone == null || !this.phone.trim()) {
                        missing.push('联系电话');
                    }
                    else {
                        phone = this.phone.trim();
                    }
                    if (this.department == null || !this.department.trim()) {
                        missing.push('院系');
                    }
                    else {
                        department = this.department.trim();
                    }
                    if (this.studentId == null || !this.studentId.trim()) {
                        missing.push('学号');
                    }
                    else {
                        studentId = this.studentId.trim();
                    }

                    if (missing.length > 0) {
                        var prompt = '';
                        for (i = 0; i < missing.length; i++) {
                            prompt += missing[i];
                            if (i != missing.length - 1) {
                                prompt += '、'
                            }
                        }
                        this.$dialog.alert(prompt+'等信息缺失，请补全缺失信息！');
                        return;
                    }
                    if (!/^(\d{11}|((\+?\d+-)?\d+-)?\d+)$/.test(phone)) {
                        this.$dialog.alert('联系电话格式错误，请重新输入！');
                        return;
                    }
                    var selfRef = this;
                    this.$http.post(
                        '/student',
                        {
                            name: name,
                            studentId: studentId,
                            department: department,
                            phone: phone
                        }
                    ).then(
                        _ => {
                            this.$dialog.alert('添加学生成功！');
                            selfRef.name = null;
                            selfRef.studentId = null;
                            selfRef.phone = null;
                            selfRef.department = null;
                        },
                        response => {
                            if (response.status === 409) {
                                this.$dialog.alert('添加学生失败，学号与其他学生的学号冲突！');
                            }
                            else {
                                this.$dialog.alert('添加学生失败，错误代码：'+status+'，请重新尝试！');
                            }
                        }
                    )
                }
            }
        })
    </script>
</body>
</html>