<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{fragments/layout :: layout (~{::body})}"
>
<body>
    <a th:href="@{/}">回到首页</a>
    <hr/>
    <h2>编辑学生</h2>
    <form id="the_form" ref="theForm" @submit.prevent="submit" th:data-real-id="${realId}">
        <table>
            <tr>
                <th>姓名：</th>
                <td width="200px">
                    <input v-model="name" type="text" name="name"/>
                </td>
                <th>联系电话：</th>
                <td width="200px">
                    <label>
                        <input v-model="phone" type="text" name="phone"/>
                    </label>
                </td>
            </tr>
            <tr>
                <th>院系：</th>
                <td width="200px">
                    <label>
                        <input v-model="department" type="text" name="department"/>
                    </label>
                </td>
                <th>学号：</th>
                <td width="200px">
                    <label>
                        <input v-model="studentId" type="text" name="student_id"/>
                    </label>
                </td>
            </tr>
        </table>
        <input type="submit" value="提交">
    </form>
    <script type="text/javascript">
        var theForm = new Vue({
            el: '#the_form',
            data: {
                name: null,
                phone: null,
                department: null,
                studentId: null,
                realId: null
            },
            methods: {
                loadInfo: function () {
                    var realId = this.$refs.theForm.dataset.realId;
                    this.realId = realId;
                    var selfRef = this;
                    this.$http.get('/student?realId='+realId).then(
                        response => {
                            var student = response.data;
                            selfRef.name = student.name;
                            selfRef.studentId = student.studentId;
                            // selfRef.gender = student.gender;
                            selfRef.department = student.department;
                            // selfRef.birthDate = student.birthDate;
                            selfRef.phone = student.phone;
                        },
                        response => {
                            this.$dialog.alert('获取待编辑学生信息失败，错误代码：'+response.status+'，请刷新页面重试！');
                        }
                    );
                },
                submit: function () {
                    missing = []
                    var name, phone, studentId, department, realId;
                    if (this.name == null || !this.name.trim()) {
                        missing.push('姓名');
                    }
                    else {
                        name = this.name.trim();
                    }
                    if (this.phone == null || !this.phone.trim()) {
                        missing.push('联系电话');
                    }
                    else {
                        phone = this.phone.trim();
                    }
                    if (this.department == null || !this.department.trim()) {
                        missing.push('院系');
                    }
                    else {
                        department = this.department.trim();
                    }
                    if (this.studentId == null || !this.studentId.trim()) {
                        missing.push('学号');
                    }
                    else {
                        studentId = this.studentId.trim();
                    }

                    if (missing.length > 0) {
                        var prompt = '';
                        for (i = 0; i < missing.length; i++) {
                            prompt += missing[i];
                            if (i != missing.length - 1) {
                                prompt += '、'
                            }
                        }
                        this.$dialog.alert(prompt+'等信息缺失，请补全缺失信息！');
                        return;
                    }
                    if (!/^(\d{11}|((\+?\d+-)?\d+-)?\d+)$/.test(phone)) {
                        this.$dialog.alert('联系电话格式错误，请重新输入！');
                        return;
                    }
                    realId = this.realId;
                    this.$http.put(
                        '/student',
                        {
                            name: name,
                            studentId: studentId,
                            department: department,
                            phone: phone,
                            realId: realId
                        }
                    ).then(
                        _ => {
                            this.$dialog.alert('编辑学生成功！点击Continue返回主页。').then(()=>{
                                location.href = '/';
                            })
                        },
                        response => {
                            if (response.status === 409) {
                                this.$dialog.alert('编辑学生失败，新学号与其他学生的学号冲突！');
                            }
                            else {
                                this.$dialog.alert('编辑学生失败，错误代码：'+status+'，请重新尝试！');
                            }
                        }
                    )
                }
            }
        });
        theForm.loadInfo();
    </script>
</body>
</html>