<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{fragments/exception :: exception (~{::div})}"
>
<body>
    <div>
        <p><th:block th:text="#{oups_message1}">Cannot add the student because the following student information is missing:</th:block></p>
        <ul>
            <li th:if="${name_missing}" th:text="#{student_name_text}"/>
            <li th:if="${gender_missing}" th:text="#{student_gender_text}"/>
            <li th:if="${birth_date_missing}" th:text="#{student_birth_text}"/>
            <li th:if="${native_place_missing}" th:text="#{student_native_text}"/>
            <li th:if="${department_missing}" th:text="#{student_department_text}"/>
            <li th:if="${id_missing}" th:text="#{student_id_text}"/>
        </ul>
        <p><th:block th:text="#{oups_message2}">Please reenter the information!</th:block></p>
    </div>
</body>
</html>